.git/
.gitignore
*.md
.env*
node_modules/
vendor/
storage/
.angular/
dist/
.vscode/
.idea/
*.log
.DS_Store
docker-compose*.yml
frontend/node_modules/
backend/vendor/
backend/storage/
backend/node_modules/
